Misc/Misc - Email Analyzer.json
{
  "name": "Misc - Email Analyzer",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        672,
        240
      ],
      "id": "43b53a7d-a294-4126-8818-d19f33a74795",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KRyyaKtkymLK3YpM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"executive_summary\": \"The integration project advanced with initial setup discussions and early access configuration. Sarah Patel confirmed OAuth is required for the API, and John Lee raised concerns about missing access to the dev environment. Documentation links were shared to guide next steps. The team aims to resolve access issues by end of week to maintain the integration timeline.\",\n  \"key_decisions\": [\n    {\n      \"date\": \"2025-06-10\",\n      \"decision\": \"OAuth authentication will be used instead of certificate-based authentication, confirmed by Sarah Patel.\"\n    }\n  ],\n  \"entries\": [\n    {\n      \"date\": \"2025-06-09\",\n      \"text\": \"John Lee reported that he could not access the development environment and requested admin credentials. He flagged this as a blocker for testing the integration scripts.\"\n    },\n    {\n      \"date\": \"2025-06-10\",\n      \"text\": \"Sarah Patel confirmed that OAuth will be required for authentication and shared the official integration documentation. She requested that the access issue be resolved by Friday.\"\n    }\n  ],\n  \"links\": [\n    {\n      \"url\": \"https://company.sharepoint.com/integration-guide\",\n      \"description\": \"Integration setup documentation for internal APIs.\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        880,
        240
      ],
      "id": "ad3aa65e-c60d-43f4-bb21-87bc7f5e4481",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the email content.\n\nPlain text:\n{{ $json.text }}\n\nHTML:\n{{ $json.textAsHtml }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a project communication analyst that transforms structured project email threads into JSON summaries for tracking and storage.\n\nINPUT: A JSON object with dated entries, each containing sender, message summary, and optional URLs.\n\nYour output must contain:\n\n1. \"executive_summary\" (150–300 words) – summarize key decisions, blockers, progress, and next steps. Use names, systems, and dates when available.\n\n2. \"key_decisions\" – a list of decisions with their dates and descriptions.\n\n3. \"entries\" – chronological summaries (2–4 sentences per entry). Do not merge unrelated messages. Use concrete details.\n\n4. \"links\" – list all URLs with a short description of their project relevance. Mark broken or unknown links as \"URL inaccessible\".\n\nReturn valid JSON in this format:\n```json\n{\n  \"executive_summary\": \"...\",\n  \"key_decisions\": [\n    { \"date\": \"YYYY-MM-DD\", \"decision\": \"...\" }\n  ],\n  \"entries\": [\n    { \"date\": \"YYYY-MM-DD\", \"text\": \"...\" }\n  ],\n  \"links\": [\n    { \"url\": \"...\", \"description\": \"...\" }\n  ]\n}\n```\nFocus on completeness, clarity, and accuracy. Do not omit earlier emails. Do not include generalities."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        560,
        32
      ],
      "id": "1d9020a5-6acc-4ebb-bb4b-7a4ba48cce45",
      "name": "Analyzer - JSON"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        32
      ],
      "id": "99514f83-7de0-4213-932c-aab17f688790",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        288,
        272
      ],
      "id": "724ce6dc-9e7a-42c2-b01c-c18b35c34238",
      "name": "Get unread emails",
      "webhookId": "24c8cd68-09fa-45f0-bd69-92bccc1a9b32",
      "credentials": {
        "gmailOAuth2": {
          "id": "IG7DVyVFauVNumq4",
          "name": "Gmail account (2)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "=197654753980f086",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        320,
        32
      ],
      "id": "8e0588dc-754f-48f0-904d-e4e47d5307d7",
      "name": "Get Trevor's email",
      "webhookId": "bd568a39-6eba-496c-a80a-b96769b2d3cc",
      "credentials": {
        "gmailOAuth2": {
          "id": "IG7DVyVFauVNumq4",
          "name": "Gmail account (2)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyzer - JSON",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Analyzer - JSON",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Trevor's email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyzer - JSON": {
      "main": [
        []
      ]
    },
    "Get unread emails": {
      "main": [
        []
      ]
    },
    "Get Trevor's email": {
      "main": [
        [
          {
            "node": "Analyzer - JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f229709-f50c-4880-9713-94a289c8517a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e1664e1c576ef52797abfb36899a10b94b3f051cdf548d41e9d265459c6a618"
  },
  "id": "1Jgxp5jI340vBQ59",
  "tags": [
    {
      "updatedAt": "2025-06-11T23:54:18.736Z",
      "createdAt": "2025-06-11T23:54:18.736Z",
      "id": "4FVdi2mU0QT9ZIZJ",
      "name": "Misc"
    }
  ]
}