RagForge/RAGForge - Embedder.json
{
  "name": "RAGForge - Embedder",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3f8eaacf-b133-44fb-b7f3-148904d579da",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "document_vectors",
          "mode": "list",
          "cachedResultName": "document_vectors"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        1264,
        80
      ],
      "id": "1f42e30d-38e3-423f-afe7-89d49f3f44a2",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "LDhBmd2aeXNRoFRh",
          "name": "Supabase - PromptOS"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "batchSize": 200,
          "stripNewLines": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1344,
        -96
      ],
      "id": "b1215746-2325-44d1-9969-7d1270dc9a67",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "KRyyaKtkymLK3YpM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Flatten').item.json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source_id",
                "value": "={{ $('Flatten').item.json.metadata.source_id }}"
              },
              {
                "name": "document_type",
                "value": "={{ $('Flatten').item.json.metadata.document_type }}"
              },
              {
                "name": "document_author",
                "value": "={{ $('Flatten').item.json.metadata.document_author }}"
              },
              {
                "name": "document_date",
                "value": "={{ $('Flatten').item.json.metadata.document_date }}"
              },
              {
                "name": "created_at",
                "value": "={{ $('Flatten').item.json.metadata.created_at }}"
              },
              {
                "name": "section_title",
                "value": "={{ $('Flatten').item.json.metadata.section_title }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1632,
        -128
      ],
      "id": "b31f9e5e-d15a-4049-96ee-ab77e21f6f71",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1760,
        112
      ],
      "id": "759dbcf4-5596-4598-95df-334390101889",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "## Indexing later\n\nAdd this later:\n\nCREATE INDEX ON document_vectors\nUSING ivfflat (embedding vector_cosine_ops)\nWITH (lists = 100);\n",
        "height": 200,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        272
      ],
      "typeVersion": 1,
      "id": "0e2d89a2-fe74-4977-8180-3cb715bac22a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "function normalize(text) {\n  return (text || \"\").replace(/\\s+/g, \" \").trim();\n}\n\nconst output = [];\n\nfor (const item of $input.all()) {\n  const doc = item.json;\n  let parsed;\n\n  try {\n    parsed = JSON.parse(doc.raw_json);\n  } catch {\n    continue;\n  }\n\n  // Metadata chunk\n  const metaSummary = [\n    `Title: ${doc.title || \"Untitled\"}`,\n    `Type: ${doc.document_type}`,\n    `Author: ${doc.document_author}`,\n    doc.document_date ? `Date: ${doc.document_date}` : null,\n    `Created: ${doc.created_at}`\n  ].filter(Boolean).join(\" | \");\n\n  output.push({\n    json: {\n      content: `Document Metadata — ${metaSummary}`,\n      metadata: {\n        source_id: doc.id,\n        document_type: doc.document_type,\n        document_author: doc.document_author,\n        document_date: doc.document_date,\n        created_at: doc.created_at,\n        file_name: doc.file_name || null,\n        title: doc.title || null,\n      },\n    },\n  });\n\n  // Content chunks — no metadata at all\n  const sections = (parsed.document_sections || []).map((section) => ({\n    title: normalize(section.title),\n    content: normalize(section.content),\n  })).filter(({ title, content }) => content && content.toLowerCase() !== title.toLowerCase());\n\n  sections.forEach(({ title, content }) => {\n    output.push({\n      json: {\n        content: `${title} — ${content}`,\n        // metadata key fully omitted\n      },\n    });\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        112
      ],
      "id": "0b627475-9db0-4bf5-ab99-47598e7c8998",
      "name": "Flatten"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        432,
        0
      ],
      "id": "77ebe7de-d233-4544-a208-19151a77c276",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        864,
        320
      ],
      "id": "aa782fb7-550f-4596-b398-fa2d7e9e8a82",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KRyyaKtkymLK3YpM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Reformat the following text to make it easier to read. Use spacing, punctuation, lists, or tables if appropriate — but do not remove, change, or invent anything.\n\nKeep everything exactly as-is in meaning.\n\nText:\n\"{{$json[\"content\"]}}\"\n",
        "messages": {
          "messageValues": [
            {
              "message": "You are a cleanup assistant. Your task is to reformat text for readability and structure, without changing any meaning, omitting details, or adding new content."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        864,
        112
      ],
      "id": "b2b87898-8855-4f4a-86d9-372d0190763f",
      "name": "Formatter"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-opus-20240229",
          "mode": "list",
          "cachedResultName": "Claude Opus 3"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1008,
        320
      ],
      "id": "01ff822c-48b3-431c-a4fc-96b4f8343544",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "Wmz3AO5pPNbuodMG",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://rfcmhcxcfnlbfgmlcabi.supabase.co/rest/v1/documents?embedded=eq.false",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "aaa1787e-335f-4252-9743-504d8df08063",
      "name": "Query Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "LDhBmd2aeXNRoFRh",
          "name": "Supabase - PromptOS"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rfcmhcxcfnlbfgmlcabi.supabase.co/rest/v1/documents?id=eq.{{ $('Loop Over Items').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "embedded",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        384
      ],
      "id": "721ce0c1-6968-42a5-9b68-11c55dd38648",
      "name": "Set Embedded = True",
      "credentials": {
        "supabaseApi": {
          "id": "LDhBmd2aeXNRoFRh",
          "name": "Supabase - PromptOS"
        }
      }
    },
    {
      "parameters": {
        "content": "## TODO\n- Fix this; Patch added another row. that's wrong. maybe not matching id?"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        368
      ],
      "typeVersion": 1,
      "id": "83ee53b9-a90f-44a8-92eb-dc444e3da90a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## TODO\n- It's not inserting right now"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        -80
      ],
      "typeVersion": 1,
      "id": "f3f5907a-8a53-4e88-9a8c-45198c81a21f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Food for thought\nShould things actually be rewritten in a meaningful and reasonable way w/o losing data?"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        -96
      ],
      "typeVersion": 1,
      "id": "50059d3e-b758-4683-847e-8c0f00b16af8",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Query Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Set Embedded = True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten": {
      "main": [
        [
          {
            "node": "Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Flatten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Formatter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Formatter": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Query Supabase": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Embedded = True": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b58ad18c-450e-42b6-ae10-f44719756327",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e1664e1c576ef52797abfb36899a10b94b3f051cdf548d41e9d265459c6a618"
  },
  "id": "WjCOI2qBSzQglNXo",
  "tags": [
    {
      "updatedAt": "2025-06-13T00:44:28.800Z",
      "createdAt": "2025-06-13T00:44:28.800Z",
      "id": "HMfvMejmdgx6xPHF",
      "name": "PromptOS"
    }
  ]
}