MLOps/_old/correlation engine v3.json
{
  "name": "correlation engine v3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        0
      ],
      "id": "13c35898-08cb-496d-89df-df303e015f42",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "status_watch_feed_embeddings",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=inserted_at=gte.{{ $now.minus({ hours: 240 }).toISO() }}&content=is.not_null&embedding=is.not_null&order=inserted_at.asc&select=id,embedding,metadata,content"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        128,
        0
      ],
      "id": "019218bc-cd44-4e37-beb2-e9aacf5ef3ff",
      "name": "Query last 7 days embeddings",
      "credentials": {
        "supabaseApi": {
          "id": "k6NMY19byioyMjUc",
          "name": "Supabase - Reset"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = {\n  items: items.map(item => ({\n    id: String(item.json.id), // use REAL Supabase row id\n    embedding: Array.isArray(item.json.embedding)\n      ? item.json.embedding\n      : JSON.parse(item.json.embedding)\n  })),\n  eps: 0.7,\n  min_samples: 3\n};\n\nreturn [{ json: payload }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "id": "68c62754-6215-40b7-b4d7-2cb7eede8fbd",
      "name": "Parse embeddings"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dbscan-api-production.up.railway.app/cluster",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "dbscan-dev-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        0
      ],
      "id": "be0f6ea4-f9e4-4711-a06f-49e07d29ea69",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dbscan-api-production.up.railway.app/cluster",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "dbscan-dev-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"items\": [\n    {\n      \"id\": \"test\",\n      \"embedding\": [0.1, 0.2, 0.3]\n    }\n  ],\n  \"eps\": 0.7,\n  \"min_samples\": 3\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        160
      ],
      "id": "f6761fc6-248e-4139-b4a2-48f4fb0b72c1",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Code node AFTER DBSCAN HTTP\n// Collapse to ONE item PER CLUSTER\n\nconst results = items[0].json.results;\n\n// group by cluster_id (ignore noise)\nconst clusters = {};\nresults.forEach(r => {\n  if (r.cluster_size <= 0) return;\n  (clusters[r.event_cluster_id] ||= []).push(r.id);\n});\n\n// output one item per cluster\nreturn Object.entries(clusters).map(([cluster_id, ids]) => ({\n  json: {\n    cluster_id: Number(cluster_id),\n    cluster_size: ids.length,\n    ids\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        0
      ],
      "id": "0970906b-0e90-4e19-8eb0-4f053eb2c318",
      "name": "merge_clusters"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "status_watch_feed_embeddings",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=id=in.({{ $json.ids.join(',') }})"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ],
      "id": "330f1fe0-a49a-473c-81b5-ef3ad6c2e951",
      "name": "Get content",
      "credentials": {
        "supabaseApi": {
          "id": "k6NMY19byioyMjUc",
          "name": "Supabase - Reset"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code node\n// Groups items by cluster_id and keeps topic\n\nconst clusters = {};\n\nitems.forEach(item => {\n  const cid = item.json.cluster_id ?? 0;\n  const m = item.json.metadata || {};\n\n  const entry = {\n    id: item.json.id,\n    source: m.source || \"unknown\",\n    date: m.date || \"unknown\",\n    topic: m.topic || \"unknown\",        // ← FIX\n    category: m.category || \"unknown\",\n    content: item.json.content\n  };\n\n  (clusters[cid] ||= []).push(entry);\n});\n\nreturn Object.entries(clusters).map(([cluster_id, entries]) => ({\n  json: {\n    cluster_id: Number(cluster_id),\n    correlated_count: entries.length,\n    items: entries\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        0
      ],
      "id": "62a13d42-f2d5-4bbb-88a3-2e6e9c227183",
      "name": "Prep for llm"
    },
    {
      "parameters": {
        "content": "Need to test this for multiple clusters",
        "height": 80,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        -272
      ],
      "typeVersion": 1,
      "id": "2b7a407e-5ef5-42a7-9596-a7bcd0f517ac",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1648,
        -64
      ],
      "id": "7ae71ae1-1840-4622-99e5-c52bc41b95b7",
      "name": "OpenAI model",
      "credentials": {
        "openAiApi": {
          "id": "KRyyaKtkymLK3YpM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The following items were correlated as the same event.\n\nUsing ONLY the information provided:\n\n1) Write a short, neutral event title (max 12 words).\n2) Write a 1–2 sentence summary of the shared event.\n3) Briefly explain why these items describe the same event (one sentence).\n\nItems:\n{{ JSON.stringify($json.items, null, 2) }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a news correlation assistant. You merge multiple related news items into a single clear event. Be concise, factual, and neutral. Do not invent details."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        1568,
        48
      ],
      "id": "a3e6d153-df9a-4b88-9361-00d2c40d675b",
      "name": "Correlator"
    },
    {
      "parameters": {
        "content": "Insert to DB",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1968,
        -112
      ],
      "typeVersion": 1,
      "id": "dda4f5bb-fb39-4ffb-966a-42acf7ddf3d2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Should allow no correlation to be found; perhaps add if check earlier",
        "height": 96,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        -144
      ],
      "typeVersion": 1,
      "id": "c2364d2b-a752-4cc3-bea0-bcd0746f1361",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Add column for correlation engine version / approach",
        "height": 96,
        "width": 166
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        -256
      ],
      "typeVersion": 1,
      "id": "4d164850-fa52-475c-9e3e-ba6d1b0bb653",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        0
      ],
      "id": "3e80435b-f151-488e-b21c-eca2349749e1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "Cluster ID = 0 for all - why?",
        "height": 80,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        -96
      ],
      "typeVersion": 1,
      "id": "701ac4fd-4434-4ab4-94b7-9b8174e74e5f",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Query last 7 days embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query last 7 days embeddings": {
      "main": [
        [
          {
            "node": "Parse embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse embeddings": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "merge_clusters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge_clusters": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get content": {
      "main": [
        [
          {
            "node": "Prep for llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep for llm": {
      "main": [
        [
          {
            "node": "Correlator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI model": {
      "ai_languageModel": [
        [
          {
            "node": "Correlator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correlator": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7bc15a92-6d0c-43f1-a6fe-6f1694efb83d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e1664e1c576ef52797abfb36899a10b94b3f051cdf548d41e9d265459c6a618"
  },
  "id": "OVCyQCAUtMf3N20c",
  "tags": [
    {
      "updatedAt": "2025-12-10T03:42:49.636Z",
      "createdAt": "2025-12-10T03:42:49.636Z",
      "id": "YhZaSz2umH3ClIGu",
      "name": "StatusWatch"
    }
  ]
}