MLOps/_old/correlation engine v3-embedder.json
{
  "name": "correlation engine v3-embedder",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        0
      ],
      "id": "dc0a96c1-d0e4-4e6e-9d1e-ad86302fcd05",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "status_watch_feeds",
        "limit": 100,
        "filterType": "string",
        "filterString": "=inserted_at=gte.{{ $now.minus({ hours: 168 }).toISO() }}&category=is.not_null&topic=is.not_null&content=is.not_null&source=not.eq.Hacker%20News&order=inserted_at.asc"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        112,
        0
      ],
      "id": "96a2d426-19fc-4a18-9161-54d7219e1fde",
      "name": "Query last 7 days feeds",
      "credentials": {
        "supabaseApi": {
          "id": "k6NMY19byioyMjUc",
          "name": "Supabase - Reset"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const title = (item.json.title ?? '').trim();\n  const content = (item.json.content ?? '').trim();\n\n  return {\n    json: {\n      pageContent: `${title}\\n\\n${content}`.replace(/\\s+/g, ' ').trim(),\n      metadata: {\n        feed_id: item.json.id,\n        title,\n        source: item.json.source,\n        date: item.json.date,\n        topic: item.json.topic,\n        category: item.json.category,\n        tone_llm: item.json.tone_llm\n      }\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "id": "8976e057-d440-4633-bf96-e0e1a9a1ecd4",
      "name": "Prep for embedding"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "status_watch_feed_embeddings",
          "mode": "list",
          "cachedResultName": "status_watch_feed_embeddings"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        528,
        0
      ],
      "id": "fa740754-4d67-44be-bf0e-31266f75089b",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "k6NMY19byioyMjUc",
          "name": "Supabase - Reset"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        192
      ],
      "id": "2fa9725d-4451-4fb1-bd10-9a469c23b8a1",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "KRyyaKtkymLK3YpM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        672,
        176
      ],
      "id": "cc3fd905-259c-459b-b492-197747f89aba",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.pageContent }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $json.metadata.source }}"
              },
              {
                "name": "date",
                "value": "={{ $json.metadata.date }}"
              },
              {
                "name": "topic",
                "value": "={{ $json.metadata.topic }}"
              },
              {
                "name": "category",
                "value": "={{ $json.metadata.category }}"
              },
              {
                "name": "tone",
                "value": "={{ $json.metadata.tone_llm }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        848,
        176
      ],
      "id": "39ee1346-5ac6-4a95-ae1c-e70bc1671ee5",
      "name": "Default Data Loader1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Query last 7 days feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query last 7 days feeds": {
      "main": [
        [
          {
            "node": "Prep for embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep for embedding": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        []
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3b6faf3e-a250-4f8d-83c8-249c4c32af41",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e1664e1c576ef52797abfb36899a10b94b3f051cdf548d41e9d265459c6a618"
  },
  "id": "i1LXv1i4aH6mulkz",
  "tags": [
    {
      "updatedAt": "2025-12-10T03:42:49.636Z",
      "createdAt": "2025-12-10T03:42:49.636Z",
      "id": "YhZaSz2umH3ClIGu",
      "name": "StatusWatch"
    }
  ]
}