StatusWatch/GraphDB insights.json
{
  "name": "GraphDB insights",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -32
      ],
      "id": "5881d04f-bcd0-403b-8536-09431551bef6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "graphDb",
        "indexName": "",
        "cypherQuery": "=MATCH (i:Incident)-[:CLUSTERED_BY]->(c:CorrelationEngine)\nMATCH (i)-[:HAS_TOPIC]->(t:Topic)\nMATCH (i)<-[:REPORTED]-(s:Source)\nMATCH (i)-[:OCCURRED_ON]->(d:Date)\nRETURN\n  i.incident_id AS incident_id,\n  d.date AS date,\n  t.name AS topic,\n  c.name AS correlation_engine,\n  collect(DISTINCT s.name) AS sources,\n  count(DISTINCT s) AS source_count\nORDER BY date DESC;"
      },
      "type": "n8n-nodes-neo4j.neo4j",
      "typeVersion": 1,
      "position": [
        80,
        -32
      ],
      "id": "5e9875f6-c31b-4d80-986b-523fe78c2bc0",
      "name": "Graph Insight Query",
      "alwaysOutputData": true,
      "credentials": {
        "neo4jApi": {
          "id": "CRXMYxLCHn3P13HV",
          "name": "Neo4j account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        576,
        592
      ],
      "id": "ac0b4361-4a80-4d3d-99fa-bb291f7a4690",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KRyyaKtkymLK3YpM",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        656,
        192
      ],
      "id": "e9dbe5ad-1f7a-423b-bad4-54ce66b8fd9e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "KRyyaKtkymLK3YpM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are analyzing correlated incidents for operational decision-making.\n\nFrom the data below:\n1. Identify the 3–5 incidents that deserve attention.\n2. For each, explain *why it matters* in one sentence.\n3. Suggest a concrete follow-up action for each (monitor, investigate, ignore, escalate).\n4. Explicitly call out what can be safely ignored for now.\n\nBe practical. Be decisive. Avoid summaries.\n\nInput data:\n{{ JSON.stringify($input.all().map(i => i.json), null, 2) }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an analytical intelligence assistant. Your job is to extract patterns, signal strength, and notable insights from pre-correlated incident data. Do not invent facts. Do not speculate beyond the provided data. Prioritize signal over completeness."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        576,
        416
      ],
      "id": "41b3bf3a-8aaf-4984-a81e-b96d09e88085",
      "name": "What I should do?",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are given a set of incidents that have already been correlated (EDA or DBSCAN).\n\nInterpret these correlations using a high-level executive / deal-maker lens.\n\nFocus on:\n- where risk is concentrating\n- which themes are reinforcing each other\n- what is becoming structurally important vs transient noise\n- what patterns suggest downstream impact\n\nRules:\n- Do NOT invent facts or external context.\n- Do NOT restate every incident.\n- Do NOT speculate beyond what the correlations support.\n- Prioritize signal over completeness.\n- You MUST reference incident_id values in the output.\n- Use incident_id exactly as provided.\n- Do NOT use labels like “Incident 1”, “the first incident”, etc.\n\n---\n\nCORRELATED INCIDENTS:\n{{ JSON.stringify($input.all().map(i => i.json), null, 2) }}\n\n---\n\nOutput format (use this structure exactly):\n\nTitle:\nExecutive signal assessment\n\nThemes:\n- <theme 1> (anchored by: <incident_id>, <incident_id>)\n- <theme 2> (anchored by: <incident_id>, <incident_id>)\n- <theme 3> (anchored by: <incident_id>)\n(optional, max 5 themes total)\n\nSection 1:\n2–3 sentences summarizing what the correlation pattern implies overall.\n\nSection 2:\nBullet points (max 6 total). Each bullet must include:\n- a short executive insight\n- AND “Evidence: <incident_id>, <incident_id>” (1–3 ids)\n\nUse this exact bullet format:\n\n- <insight>. Evidence: <incident_id>, <incident_id>",
        "messages": {
          "messageValues": [
            {
              "message": "You are interpreting correlated incident data from the perspective of a senior decision-maker.\n\nYou do NOT invent facts.\nYou do NOT speculate beyond the provided data.\nYou do NOT summarize for completeness.\n\nYour role is to surface:\n- concentrated risk\n- reinforcing signals\n- emerging leverage points\n- second-order implications\n\nYou MUST preserve and reference incident_id values from the input.\nIf you mention an incident, you must reference it by incident_id.\nNever label incidents as “Incident 1/2/3”.\nUse clear, confident, executive-style language."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        560,
        -32
      ],
      "id": "9fcebe9c-bfdc-4f3a-97db-b8ec7ccf31a9",
      "name": "Executive-type Summary"
    },
    {
      "parameters": {
        "jsCode": "// Merge all incoming items into a single payload for the LLM\n\nconst incidents = items.map(item => item.json);\n\nreturn [\n  {\n    json: {\n      incidents,\n      incident_count: incidents.length\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -32
      ],
      "id": "43ac3f4a-b1be-445e-b4e9-be56910ef1cc",
      "name": "Collapse items"
    },
    {
      "parameters": {
        "tableId": "status_watch_graphdb_insight_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "incident_ids",
              "fieldValue": "={{ $json.incident_ids }}"
            },
            {
              "fieldId": "themes",
              "fieldValue": "={{ $json.themes }}"
            },
            {
              "fieldId": "insight_text",
              "fieldValue": "={{ $json.insight_text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1200,
        -32
      ],
      "id": "6811f4b4-7d27-4259-aff5-e8c7d65f5e3b",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "k6NMY19byioyMjUc",
          "name": "Supabase - Reset"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const llmText = $input.first().json.text;\n\n// ----------------------------\n// Parse THEMES + anchored incident_ids\n// ----------------------------\nconst themes = [];\nconst incidentIdSet = new Set();\n\nconst themesBlock = llmText.match(/Themes:\\n([\\s\\S]*?)\\n\\nSection 1:/);\n\nif (themesBlock) {\n  const themeLines = themesBlock[1]\n    .split('\\n')\n    .map(l => l.trim())\n    .filter(l => l.startsWith('- '));\n\n  for (const line of themeLines) {\n    // Example line:\n    // - AI ecosystem expansion (anchored by: id1, id2)\n    const match = line.match(/- (.*?) \\(anchored by: (.*?)\\)$/);\n    if (match) {\n      const themeName = match[1].trim();\n      const ids = match[2]\n        .split(',')\n        .map(i => i.trim())\n        .filter(Boolean);\n\n      themes.push(themeName);\n      ids.forEach(id => incidentIdSet.add(id));\n    }\n  }\n}\n\n// ----------------------------\n// Fallback: also parse Evidence blocks (Section 2)\n// ----------------------------\nconst evidenceMatches = [...llmText.matchAll(/Evidence:\\s*([a-zA-Z0-9_\\-.,\\s]+)/g)];\n\nfor (const match of evidenceMatches) {\n  match[1]\n    .split(',')\n    .map(i => i.trim())\n    .filter(Boolean)\n    .forEach(id => incidentIdSet.add(id));\n}\n\n// ----------------------------\n// Final payload for Supabase insert\n// ----------------------------\nreturn [\n  {\n    json: {\n      incident_ids: Array.from(incidentIdSet),\n      themes: themes.length ? themes : null,\n      insight_text: llmText\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -32
      ],
      "id": "f4745908-c7a8-4a27-8bde-5a81af7fe2e8",
      "name": "Prep for DB-insert"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Graph Insight Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Graph Insight Query": {
      "main": [
        [
          {
            "node": "Collapse items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "What I should do?",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Executive-type Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Collapse items": {
      "main": [
        [
          {
            "node": "Executive-type Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executive-type Summary": {
      "main": [
        [
          {
            "node": "Prep for DB-insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep for DB-insert": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dc8dcabd-c82d-4486-9905-d8f2952cc358",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e1664e1c576ef52797abfb36899a10b94b3f051cdf548d41e9d265459c6a618"
  },
  "id": "m5LRpNcD30MjsOEQ",
  "tags": [
    {
      "updatedAt": "2025-12-10T03:42:49.636Z",
      "createdAt": "2025-12-10T03:42:49.636Z",
      "id": "YhZaSz2umH3ClIGu",
      "name": "StatusWatch"
    }
  ]
}