StoryBuilder/Initial HP - No character generation v2.json
{
  "name": "Initial HP - No character generation v2",
  "nodes": [
    {
      "parameters": {
        "formTitle": "User Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "JTBD",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        32,
        -48
      ],
      "id": "50941d16-1092-41ea-85e6-1266534b2b10",
      "name": "On form submission",
      "webhookId": "4746483e-9c93-4c87-a4d5-f416324da8b0"
    },
    {
      "parameters": {
        "content": "## Task Analyzer",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        144
      ],
      "typeVersion": 1,
      "id": "d0b5a127-cc7d-471e-aac3-5848befec65e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## User Form",
        "height": 80,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -320
      ],
      "typeVersion": 1,
      "id": "1d63f523-63b9-428a-add6-69b89be1cf0c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Scene Prompt Generator",
        "height": 80,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        144
      ],
      "typeVersion": 1,
      "id": "bd63881e-0ebb-4349-8639-9feb7cc34eed",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Save in Google Drive",
        "height": 80,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4640,
        240
      ],
      "typeVersion": 1,
      "id": "9a074c95-e38d-4827-9948-4ad850f50fab",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"character\": {\n    \"name\": \"Benji\",\n    \"age\": 7,\n    \"gender\": \"boy\",\n    \"appearance\": {\n      \"hair\": \"short, slightly messy black hair\",\n      \"eyes\": \"big, curious brown eyes\",\n      \"skin\": \"light with a warm tone\",\n      \"expression\": \"friendly, open face with a gentle smile\",\n      \"clothing\": {\n        \"shirt\": \"bright yellow t-shirt\",\n        \"shorts\": \"sky-blue shorts\"\n      },\n      \"posture\": \"relaxed and confident\",\n      \"overall_impression\": \"calm, adventurous presence\"\n    }\n  },\n  \"jtbd\": \"{{ $json.JTBD }}\",\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -48
      ],
      "id": "c070153f-b2ca-427c-9350-fc7e20a96559",
      "name": "Combine Character and JTBD"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Using the following information:\n\n- Character: {{ $json[\"character\"][\"name\"] }} is a {{ $json[\"character\"][\"age\"] }}-year-old {{ $json[\"character\"][\"gender\"] }}. Do not describe their appearance. Assume the character’s visual identity is handled by a consistent reference image or prior generation step.\n- Task: {{ $json[\"jtbd\"] }}\n\nGenerate five image generation prompts for Leonardo.ai that form a visually connected narrative sequence.\n\nInstructions:\n- Break the task into five logically connected visual scenes: beginning, early action, turning point, development, and resolution.\n- Each scene must build on the last, showing visible progression in task, emotion, and environment.\n- Choose a distinct point-of-view for each scene (e.g., side view, rear view, top-down, wide shot, over-the-shoulder).\n- Vary the character’s physical stance, gaze direction, and emotional expression — avoid repetition.\n- At least one scene should visually focus on an object or supporting character that advances the story.\n- Focus entirely on what’s visible — action, setting, objects, posture, and emotional tone.\n\nUse simple, child-appropriate language. Keep each prompt warm, visually rich, and uncluttered.\n\nReturn only a JSON array of the five scenes. No extra text.",
        "messages": {
          "messageValues": [
            {
              "message": "You are a prompt generator for image generation. Based on a character and a task (JTBD), describe five connected visual scenes that can be illustrated.\n\nEach scene must show a distinct, observable action and use a natural, visually appropriate point-of-view (such as side view, top-down, rear view, wide shot, or over-the-shoulder). Avoid repeating angles unless narratively necessary.\n\nUse varied emotional tone and physical expression throughout the sequence:\n- Include moments of effort, uncertainty, discovery, joy, and resolution.\n- The character should not always look the same or feel the same — show a range of reactions, postures, and movements.\n- At least one scene should focus on something *other than* the main character — an object, another person, or environmental cue that helps advance the task.\n\nDo not write a story or inner thoughts. Focus only on what is visually seen.\n\nKeep language warm, vivid, and simple — suitable for a children’s picture book.\n\nEach output must include:\n- scene_number\n- prompt (natural-language visual description for image generation)\n- negative_prompt (comma-separated values)\n\nReturn a JSON array of 5 scenes. No explanations. No labels."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        784,
        272
      ],
      "id": "d8f5ac16-3aa4-4752-bf1a-519793243a94",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        448
      ],
      "id": "0a19968c-d954-43d5-9dd5-945e4d509156",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KRyyaKtkymLK3YpM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText = $json[\"text\"]; // This is your stringified array\nconst parsed = JSON.parse(rawText); // Convert string to actual JSON array\n\nreturn parsed.map(scene => ({ json: scene }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        272
      ],
      "id": "29b8e40e-9a66-425c-8406-2c92f5dd219c",
      "name": "Fix JSON"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2944,
        240
      ],
      "id": "b7b557be-791d-41c5-a708-1ec196c191ce",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const imageUrl = 'https://raw.githubusercontent.com/marcotechinc/sb-dev/main/characters/benji.jpg';\n\n// Download the image as binary\nconst imageBuffer = await this.helpers.request({\n  method: 'GET',\n  url: imageUrl,\n  encoding: null // Return raw binary buffer\n});\n\n// Convert to base64 (no prefix)\nconst imageBase64 = imageBuffer.toString('base64');\n\n// Return for next step (Leonardo upload)\nreturn [\n  {\n    json: {\n      image_base64: imageBase64\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -256
      ],
      "id": "53b3bbfa-5374-4241-8790-ae9ad6ec56cc",
      "name": "Download character image"
    },
    {
      "parameters": {
        "jsCode": "const apiKey = $env.LEONARDO_API_KEY;\n\n// Request presigned upload URL for image (JPG)\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://cloud.leonardo.ai/api/rest/v1/init-image',\n  headers: {\n    Authorization: `Bearer ${apiKey}`,\n    'Content-Type': 'application/json'\n  },\n  body: {\n    extension: 'jpg'\n  },\n  json: true\n});\n\nconst { id: initImageId, url: uploadUrl, fields } = response.uploadInitImage;\n\n// Return result as required by n8n (array of objects)\nreturn [\n  {\n    json: {\n      initImageId,\n      uploadUrl,\n      fields\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -64
      ],
      "id": "1759f0c8-1918-4d99-8497-989b6fcfb6ce",
      "name": "Request Presigned URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.uploadUrl }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "=Content-Type\t",
              "value": "={{ $json.fields[\"Content-Type\"] }}"
            },
            {
              "name": "bucket",
              "value": "={{ $json.fields.bucket }}"
            },
            {
              "name": "X-Amz-Algorithm",
              "value": "={{ $json.fields[\"X-Amz-Algorithm\"] }}"
            },
            {
              "name": "X-Amz-Credential",
              "value": "={{ $json.fields[\"X-Amz-Credential\"] }}"
            },
            {
              "name": "X-Amz-Date",
              "value": "={{ $json.fields[\"X-Amz-Date\"] }}"
            },
            {
              "name": "X-Amz-Security-Token",
              "value": "={{ $json.fields[\"X-Amz-Security-Token\"] }}"
            },
            {
              "name": "key",
              "value": "={{ $json.fields.key }}"
            },
            {
              "name": "Policy",
              "value": "={{ $json.fields.Policy }}"
            },
            {
              "name": "X-Amz-Signature\t",
              "value": "={{ $json.fields[\"X-Amz-Signature\"] }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        -160
      ],
      "id": "5640e29c-7e99-42a9-961f-458e80302546",
      "name": "Upload to Presigned URL"
    },
    {
      "parameters": {
        "jsCode": "let raw = $json[\"fields\"];\n\nlet parsed;\n\ntry {\n  parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch (e) {\n  throw new Error('Failed to parse fields: ' + e.message);\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n      fields: parsed\n    },\n    binary: $binary\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -64
      ],
      "id": "85e32808-901b-4169-92c7-a9cb9e937faf",
      "name": "Split fields object"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "image_base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        992,
        -256
      ],
      "id": "27f2ca77-de8a-4163-bea4-119610d77e8c",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1280,
        -160
      ],
      "id": "e9d906d9-4632-4709-b55c-01b828cbe656",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "=https://cloud.leonardo.ai/api/rest/v1/init-image/{{ $('Merge').item.json.initImageId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LEONARDO_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        -160
      ],
      "id": "5c1f3c6f-c063-45d0-8b38-f13d85acf787",
      "name": "Poll for image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LEONARDO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"negative_prompt\": \"{{ $('Loop Over Items').item.json.negative_prompt }}\",\n  \"modelId\": \"2067ae52-33fd-4a82-bb92-c2c55e7d2786\",\n  \"presetStyle\": \"ILLUSTRATION\",\n  \"scheduler\": \"LEONARDO\",\n  \"num_images\": 1,\n  \"guidance_scale\": 7,\n  \"num_inference_steps\": 30,\n  \"width\": 1368,\n  \"height\": 768,\n  \"seed\": 3926980335,\n  \"controlnets\": [\n    {\n      \"initImageId\": \"{{ $json.init_images_by_pk.id }}\",\n      \"initImageType\": \"UPLOADED\",\n      \"preprocessorId\": 133,\n      \"strengthType\": \"High\"\n    },\n    {\n      \"initImageId\": \"{{ $json.init_images_by_pk.id }}\",\n      \"initImageType\": \"UPLOADED\",\n      \"preprocessorId\": 67,\n      \"strengthType\": \"High\"\n    }\n  ]\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        240
      ],
      "id": "95079cde-86a1-477d-8b9b-06fff3ea0252",
      "name": "Generate Scene Image"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff35ca74-88df-4e29-890e-411770e18f34",
              "leftValue": "={{ $json.generations_by_pk.status }}",
              "rightValue": "COMPLETE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4112,
        80
      ],
      "id": "2cf7d9ae-ede7-4fe7-88ae-27c927a97bce",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{\n  $node[\"Store Generation ID\"].json[\"generationId\"] || \n  $node[\"Generate Scene Image\"].json[\"sdGenerationJob\"][\"generationId\"]\n}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LEONARDO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3904,
        80
      ],
      "id": "394268ec-f843-495e-b28a-6e1b5c833f69",
      "name": "Poll Generation Status"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1728,
        -160
      ],
      "id": "f171fe89-29b0-45fa-9add-4dcda65dbf58",
      "name": "Wait for character image upload",
      "webhookId": "fbfcabc5-1369-4e54-92f7-dd35724ff868"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4304,
        272
      ],
      "id": "66b58438-f01d-4ecb-aa14-27842e773166",
      "name": "Wait for image generation",
      "webhookId": "f103645f-6933-4c38-a5b9-c2424b2a1ec7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c80653e-53ed-4c46-9ce5-f7767eb8ed72",
              "name": "generationId",
              "value": "={{ $json.sdGenerationJob.generationId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3680,
        80
      ],
      "id": "536a7907-ac72-40da-ba73-b4139f431699",
      "name": "Store Generation ID"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4672,
        400
      ],
      "id": "974c8e66-ab59-4a62-bd0a-f0cef02a1302",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4lEBy7qEfA2UCGII",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json[\"generations_by_pk\"][\"generated_images\"][0][\"url\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        -96
      ],
      "id": "28428c71-8b33-476b-8892-acc1a7abfdf5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## Prepare Character Image",
        "height": 80,
        "width": 1220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -384
      ],
      "typeVersion": 1,
      "id": "a11be67a-3cae-4c8e-9485-088e8c71aecd",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22e6f8e9-7fb5-40a9-bff0-8f43ef9eaba1",
              "name": "init_images_by_pk.id",
              "value": "={{ $json.init_images_by_pk.id }}",
              "type": "string"
            },
            {
              "id": "e4edbd77-0a3f-4a48-b2ed-88b2da2f532c",
              "name": "init_images_by_pk.createdAt",
              "value": "={{ $json.init_images_by_pk.createdAt }}",
              "type": "string"
            },
            {
              "id": "2a34b3a1-f43f-445e-8fad-147670c03636",
              "name": "init_images_by_pk.url",
              "value": "={{ $json.init_images_by_pk.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        -64
      ],
      "id": "8236a9b8-3d21-4165-a89c-1f342a48da26",
      "name": "Set init_image"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2528,
        240
      ],
      "id": "f91c7a29-ef3a-4352-b28b-b2160d25d809",
      "name": "Merge1"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Combine Character and JTBD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Character and JTBD": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download character image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Request Presigned URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Fix JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix JSON": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Generate Scene Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download character image": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Presigned URL": {
      "main": [
        [
          {
            "node": "Split fields object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split fields object": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upload to Presigned URL": {
      "main": [
        [
          {
            "node": "Wait for character image upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload to Presigned URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll for image": {
      "main": [
        [
          {
            "node": "Set init_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Scene Image": {
      "main": [
        [
          {
            "node": "Store Generation ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for image generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Generation Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for character image upload": {
      "main": [
        [
          {
            "node": "Poll for image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for image generation": {
      "main": [
        [
          {
            "node": "Store Generation ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Generation ID": {
      "main": [
        [
          {
            "node": "Poll Generation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set init_image": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00974d13-37fa-41f4-a0b7-de7c4ca3b5db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e1664e1c576ef52797abfb36899a10b94b3f051cdf548d41e9d265459c6a618"
  },
  "id": "cUOXZ0f78wNozDnp",
  "tags": [
    {
      "updatedAt": "2025-05-17T17:53:06.626Z",
      "createdAt": "2025-05-17T17:53:06.626Z",
      "id": "cRs4n3u2lESNBFK6",
      "name": "Story Builder"
    }
  ]
}