MLOps/correlation engine v3 - DBScan.json
{
  "name": "correlation engine v3 - DBScan",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        0
      ],
      "id": "13c35898-08cb-496d-89df-df303e015f42",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "status_watch_feed_embeddings",
        "limit": 500,
        "filterType": "string",
        "filterString": "=inserted_at=gte.{{ $now.minus({ hours: 336 }).toISO() }}&content=is.not_null&embedding=is.not_null&order=inserted_at.asc&select=id,embedding,metadata,content"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        128,
        0
      ],
      "id": "019218bc-cd44-4e37-beb2-e9aacf5ef3ff",
      "name": "Query last 7 days embeddings",
      "credentials": {
        "supabaseApi": {
          "id": "k6NMY19byioyMjUc",
          "name": "Supabase - Reset"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = {\n  items: items.map(item => ({\n    id: String(item.json.id), // use REAL Supabase row id\n    embedding: Array.isArray(item.json.embedding)\n      ? item.json.embedding\n      : JSON.parse(item.json.embedding)\n  })),\n  eps: 0.7,\n  min_samples: 3\n};\n\nreturn [{ json: payload }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "id": "68c62754-6215-40b7-b4d7-2cb7eede8fbd",
      "name": "Parse embeddings"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dbscan-api-production.up.railway.app/cluster",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "dbscan-dev-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        0
      ],
      "id": "be0f6ea4-f9e4-4711-a06f-49e07d29ea69",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dbscan-api-production.up.railway.app/cluster",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "dbscan-dev-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"items\": [\n    {\n      \"id\": \"test\",\n      \"embedding\": [0.1, 0.2, 0.3]\n    }\n  ],\n  \"eps\": 0.7,\n  \"min_samples\": 3\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        208
      ],
      "id": "f6761fc6-248e-4139-b4a2-48f4fb0b72c1",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Code node AFTER DBSCAN HTTP\n// Collapse to ONE item PER CLUSTER\n\nconst results = items[0].json.results;\n\n// group by cluster_id (ignore noise)\nconst clusters = {};\nresults.forEach(r => {\n  if (r.cluster_size <= 0) return;\n  (clusters[r.event_cluster_id] ||= []).push(r.id);\n});\n\n// output one item per cluster\nreturn Object.entries(clusters).map(([cluster_id, ids]) => ({\n  json: {\n    cluster_id: Number(cluster_id),\n    cluster_size: ids.length,\n    ids\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        -16
      ],
      "id": "0970906b-0e90-4e19-8eb0-4f053eb2c318",
      "name": "merge_clusters"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "status_watch_feed_embeddings",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=id=in.({{ $json.ids.join(',') }})"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1520,
        16
      ],
      "id": "330f1fe0-a49a-473c-81b5-ef3ad6c2e951",
      "name": "Get content",
      "credentials": {
        "supabaseApi": {
          "id": "k6NMY19byioyMjUc",
          "name": "Supabase - Reset"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code node\n// Groups items by cluster_id and keeps topic\n\nconst clusters = {};\n\nitems.forEach(item => {\n  const cid = item.json.cluster_id ?? 0;\n  const m = item.json.metadata || {};\n\n  const entry = {\n    id: item.json.id,\n    source: m.source || \"unknown\",\n    date: m.date || \"unknown\",\n    topic: m.topic || \"unknown\",        // ← FIX\n    category: m.category || \"unknown\",\n    content: item.json.content\n  };\n\n  (clusters[cid] ||= []).push(entry);\n});\n\nreturn Object.entries(clusters).map(([cluster_id, entries]) => ({\n  json: {\n    cluster_id: Number(cluster_id),\n    correlated_count: entries.length,\n    items: entries\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        16
      ],
      "id": "62a13d42-f2d5-4bbb-88a3-2e6e9c227183",
      "name": "Prep for llm"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1792,
        240
      ],
      "id": "7ae71ae1-1840-4622-99e5-c52bc41b95b7",
      "name": "OpenAI model",
      "credentials": {
        "openAiApi": {
          "id": "KRyyaKtkymLK3YpM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are given a set of news articles that were already correlated\n(using an external correlation engine).\n\nEach article has:\n- id\n- source\n- title\n- content\n- date\n\nTask:\n- Produce ONE incident describing the shared real-world event.\n- Include ALL provided articles as signals.\n- Use the SAME output structure as the EDA correlation engine.\n\nInput articles:\n{{ JSON.stringify($json.items, null, 2) }}\n\nOutput format (STRICT JSON):\n[\n  {\n    \"incident_key\": \"<stable_key>\",\n    \"incident_title\": \"<concise title>\",\n    \"incident_summary\": [\n      \"<bullet 1>\",\n      \"<bullet 2>\"\n    ],\n    \"topic\": \"{{ $json.items[0].topic }}\",\n    \"signals\": [\n      {\n        \"id\": \"<id>\",\n        \"source\": \"<source>\",\n        \"title\": \"<title>\",\n        \"content\": \"<content>\",\n        \"event_time\": \"<date>\"\n      }\n    ],\n    \"confidence\": 0.0\n  }\n]\n\nIf the articles do NOT clearly describe the same incident, return [].\n",
        "messages": {
          "messageValues": [
            {
              "message": "You are an incident correlation engine.\n\nYour job is to MERGE already-correlated news articles into a single REAL-WORLD INCIDENT.\n\nDefinition:\n- An incident is ONE specific real-world event\n  (announcement, rollout, policy change, lawsuit, outage, enforcement action).\n\nSTRICT RULES:\n- Articles provided are already correlated; do NOT re-cluster.\n- Do NOT invent details.\n- Do NOT change or infer topic.\n- Use ONLY the provided articles.\n- If the articles do not clearly describe a single incident, return [].\n\nOUTPUT RULES:\n- Return STRICT JSON only.\n- Return an ARRAY of incidents (even if only one).\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        1920,
        80
      ],
      "id": "a3e6d153-df9a-4b88-9361-00d2c40d675b",
      "name": "Correlator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1280,
        -16
      ],
      "id": "3e80435b-f151-488e-b21c-eca2349749e1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "90bb48be-9aee-4016-a8ca-34559c0f7ab7",
              "leftValue": "={{ \n  new Set(\n    $json.results\n      .filter(r => r.event_cluster_id !== -1)\n      .map(r => r.event_cluster_id)\n  ).size\n}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        0
      ],
      "id": "1616e9a7-300b-4015-9087-d265ff764862",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text;\n\nif (!raw) {\n  return [];\n}\n\nlet incidents;\ntry {\n  incidents = JSON.parse(raw);\n} catch (e) {\n  throw new Error('Invalid JSON from LLM');\n}\n\nif (!Array.isArray(incidents) || incidents.length === 0) {\n  return [];\n}\n\nreturn incidents.map(i => ({\n  json: {\n    incident_key: i.incident_key,\n    topic: i.topic,\n    title: i.incident_title,\n    summary: i.incident_summary,\n    signals: i.signals,\n    confidence: i.confidence\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        64
      ],
      "id": "3fce05da-7343-4638-bba4-6d4e0ac7d61d",
      "name": "Output formatter"
    },
    {
      "parameters": {
        "tableId": "status_watch_incidents",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "incident_id",
              "fieldValue": "={{ $json.incident_key }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.summary }}"
            },
            {
              "fieldId": "links",
              "fieldValue": "={{ $json.signals }}"
            },
            {
              "fieldId": "topic",
              "fieldValue": "={{ $json.topic }}"
            },
            {
              "fieldId": "correlation_engine",
              "fieldValue": "dbscan"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2400,
        192
      ],
      "id": "9a3d3b93-3417-480a-9397-8b0ad21855ba",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "k6NMY19byioyMjUc",
          "name": "Supabase - Reset"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Query last 7 days embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query last 7 days embeddings": {
      "main": [
        [
          {
            "node": "Parse embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse embeddings": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge_clusters": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get content": {
      "main": [
        [
          {
            "node": "Prep for llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep for llm": {
      "main": [
        [
          {
            "node": "Correlator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI model": {
      "ai_languageModel": [
        [
          {
            "node": "Correlator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correlator": {
      "main": [
        [
          {
            "node": "Output formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "merge_clusters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output formatter": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9ce424ad-aa10-4cc8-81a4-f4f0afd2270c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e1664e1c576ef52797abfb36899a10b94b3f051cdf548d41e9d265459c6a618"
  },
  "id": "OVCyQCAUtMf3N20c",
  "tags": [
    {
      "updatedAt": "2025-12-10T03:42:49.636Z",
      "createdAt": "2025-12-10T03:42:49.636Z",
      "id": "YhZaSz2umH3ClIGu",
      "name": "StatusWatch"
    }
  ]
}