MLOps/correlation engine.json
{
  "name": "correlation engine",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ac4c9208-fe8d-4492-8d7e-3636ff78e508",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "status_watch_feeds",
        "limit": 100,
        "filterType": "string",
        "filterString": "=inserted_at=gte.{{ $now.minus({ hours: 48 }).toISO() }}\n&category=is.not_null\n&topic=is.not_null\n&content=is.not_null\n&source=neq.Hacker%20News\n&order=inserted_at.desc"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "16ab64a1-370e-44ec-bfcd-1154f61a73d5",
      "name": "Query candidate feeds",
      "credentials": {
        "supabaseApi": {
          "id": "k6NMY19byioyMjUc",
          "name": "Supabase - Reset"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — similarity refinement INSIDE incidents (no embeddings)\n\nfunction tokenize(text) {\n  return text\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .split(/\\s+/)\n    .filter(w => w.length > 2);\n}\n\nfunction jaccard(a, b) {\n  const A = new Set(a);\n  const B = new Set(b);\n  let inter = 0;\n  for (const x of A) if (B.has(x)) inter++;\n  return inter / (A.size + B.size - inter || 1);\n}\n\nconst THRESHOLD = 0.3;\n\nconst output = [];\n\nfor (const item of items) {\n  const incident = item.json;\n  const signals = incident.signals.map(s => ({\n    ...s,\n    tokens: tokenize(`${s.title || ''} ${s.content || ''}`)\n  }));\n\n  const clusters = [];\n\n  for (const sig of signals) {\n    let placed = false;\n\n    for (const c of clusters) {\n      const score = jaccard(sig.tokens, c.tokens);\n      if (score >= THRESHOLD) {\n        c.signals.push(sig);\n        placed = true;\n        break;\n      }\n    }\n\n    if (!placed) {\n      clusters.push({\n        tokens: sig.tokens,\n        signals: [sig],\n      });\n    }\n  }\n\n  clusters.forEach((c, idx) => {\n    output.push({\n      json: {\n        incident_id: incident.incident_id,\n        sub_event_id: `${incident.incident_id}__${idx}`,\n        topic: incident.topic,\n        category: incident.category,\n        window_start: incident.window_start,\n        window_end: incident.window_end,\n        signal_count: c.signals.length,\n        signals: c.signals.map(({ tokens, ...rest }) => rest),\n      }\n    });\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ],
      "id": "93ad4007-87dc-4e51-9433-9c5b302ce6f7",
      "name": "Similarity clustering (no embeddings)",
      "disabled": true
    },
    {
      "parameters": {
        "content": "Query candidate feeds - recent items and items that have a topic, category and content",
        "height": 96,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        -160
      ],
      "typeVersion": 1,
      "id": "6909ded8-0aaa-4745-88ea-6043a3ae0036",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Bucketing (topic + category + time)",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        -160
      ],
      "typeVersion": 1,
      "id": "11b70bb1-82da-43bf-bf57-b7505638321a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — PROMOTE BUCKETS TO INCIDENTS (v0 FIX)\n\nconst output = [];\n\nfor (const item of items) {\n  const b = item.json;\n\n  const count = b.signals.length;\n\n  if (count >= 2) {\n    output.push({\n      json: {\n        incident_id: `${b.topic}__${b.category}__${b.window_start}`,\n        status: 'incident',\n        topic: b.topic,\n        category: b.category,\n        window_start: b.window_start,\n        window_end: b.window_end,\n        signal_count: count,\n        signals: b.signals,\n      }\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        0
      ],
      "id": "b7836e63-dabc-4e84-aa5c-c1ed98d88c8a",
      "name": "Promotion to incidents"
    },
    {
      "parameters": {
        "content": "Detect incidents",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -160
      ],
      "typeVersion": 1,
      "id": "db43ac2a-ec58-44c1-b5bc-cd8ea65bc246",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "// Input: items = raw signals (array)\n// Output: incidents (array)\n\nconst WINDOW_HOURS = 48;\nconst MIN_SIGNALS = 3;\n\nfunction bucket(ts) {\n  const d = new Date(ts);\n  d.setUTCHours(Math.floor(d.getUTCHours() / WINDOW_HOURS) * WINDOW_HOURS, 0, 0, 0);\n  return d.toISOString();\n}\n\nconst groups = {};\n\nfor (const item of items) {\n  const s = item.json;\n  if (!s.topic || !s.category || !s.date) continue;\n\n  const windowStart = bucket(s.date);\n  const key = `${s.topic}__${s.category}__${windowStart}`;\n\n  if (!groups[key]) {\n    groups[key] = {\n      incident_id: key,\n      status: \"incident\",\n      topic: s.topic,\n      category: s.category,\n      window_start: windowStart,\n      window_end: null,\n      signal_count: 0,\n      signals: []\n    };\n  }\n\n  groups[key].signals.push(s);\n  groups[key].signal_count += 1;\n}\n\nconst incidents = Object.values(groups)\n  .filter(i => i.signal_count >= MIN_SIGNALS)\n  .map(i => {\n    const dates = i.signals.map(s => new Date(s.date));\n    i.window_start = new Date(Math.min(...dates)).toISOString();\n    i.window_end = new Date(Math.max(...dates)).toISOString();\n    return i;\n  });\n\nreturn incidents.map(i => ({ json: i }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "4862b55e-7b08-44b1-8ea3-0dc7b7e0a008",
      "name": "Pre-group (bucketing)"
    },
    {
      "parameters": {
        "jsCode": "return items.map(i => ({\n  json: {\n    topic: i.json.topic,\n    category: i.json.category,\n    signal_count: i.json.signals.length,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        240
      ],
      "id": "3b2a4fe4-103a-4807-9849-4bce0280fc6b",
      "name": "Debugger",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        944,
        0
      ],
      "id": "2e8f1231-5e11-47ed-8ddb-1653b84c45ac",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are summarizing a correlated incident.\n\nYou are given ONE incident object containing MULTIPLE signals.\n\nYour job:\n- Explain WHAT ties these signals together.\n- Do NOT list signals one by one.\n- Do NOT restate metadata.\n- Do NOT invent facts.\n- Use only the provided signals.\n\nReturn STRICT JSON.\nNO markdown.\nNO code fences.\n\nSchema:\n{\n  \"incident_id\": string,\n  \"summary\": string,\n  \"links\": [\n    {\n      \"title\": string,\n      \"source\": string\n    }\n  ]\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1200,
        208
      ],
      "id": "c7707f43-40ff-4620-9cab-a26b2067f6ba",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1136,
        416
      ],
      "id": "dce4a1e8-884c-4533-a6e5-fd05dc97feaa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KRyyaKtkymLK3YpM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"incident_id\": \"example_id\",\n  \"summary\": \"Example summary\",\n  \"links\": [\n    {\n      \"title\": \"Example title\",\n      \"source\": \"Hacker News\",\n      \"url\": null\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1344,
        432
      ],
      "id": "44f76171-dee0-43eb-a09c-d17b235e1069",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Input: LLM output as string in $json.output\n\nconst raw = $json.output;\nconst parsed = JSON.parse(raw);\n\nreturn [{\n  json: {\n    incident_id: parsed.incident_id,\n    summary: parsed.summary,\n    links: parsed.links || []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        208
      ],
      "id": "c0c62c45-e4d8-4658-9343-8063217ed873",
      "name": "Output formatter"
    },
    {
      "parameters": {
        "tableId": "status_watch_incidents",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "incident_id",
              "fieldValue": "={{ $json.incident_id }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.summary }}"
            },
            {
              "fieldId": "links",
              "fieldValue": "={{ $json.links }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1760,
        208
      ],
      "id": "e3266b15-aa3c-458c-94fb-ade90c0884ae",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "k6NMY19byioyMjUc",
          "name": "Supabase - Reset"
        }
      }
    },
    {
      "parameters": {
        "content": "Consider RAG-ing so correlation can be against actual content (?)",
        "height": 128,
        "width": 182,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        32
      ],
      "typeVersion": 1,
      "id": "e880d98b-328b-4905-ad99-5013ab8d617d",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Query candidate feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query candidate feeds": {
      "main": [
        [
          {
            "node": "Pre-group (bucketing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Similarity clustering (no embeddings)": {
      "main": [
        []
      ]
    },
    "Pre-group (bucketing)": {
      "main": [
        [
          {
            "node": "Promotion to incidents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debugger": {
      "main": [
        []
      ]
    },
    "Promotion to incidents": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Output formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "Output formatter": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b2aaa9af-ada9-4c37-93ee-121d67a93d10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e1664e1c576ef52797abfb36899a10b94b3f051cdf548d41e9d265459c6a618"
  },
  "id": "6IXwppHDiGxOiLRO",
  "tags": []
}