MLOps/ingest_feeds_hn.json
{
  "name": "ingest_feeds_hn",
  "nodes": [
    {
      "parameters": {
        "url": "https://hacker-news.firebaseio.com/v0/topstories.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        0
      ],
      "id": "c1ce6916-3f5d-4577-ad56-1ee73175e2ed",
      "name": "Hacker News: Top Stories API"
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        0
      ],
      "id": "aae2db06-4dec-4d21-9d1f-dcba0745601d",
      "name": "Hacker News: Loop Over Stories"
    },
    {
      "parameters": {
        "url": "=https://hacker-news.firebaseio.com/v0/item/{{$json}}.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        96
      ],
      "id": "6ea483f8-e222-4db3-8ef6-5ac58f0ef681",
      "name": "HackerNews: Fetch Story Details"
    },
    {
      "parameters": {
        "jsCode": "function cleanContent(str) {\n  if (!str) return \"\";\n  // Replace <a href=\"URL\">text</a> → text (URL)\n  str = str.replace(/<a [^>]*href=\"([^\"]+)\"[^>]*>(.*?)<\\/a>/gi, '$2 ($1)');\n  // Remove any remaining tags and entities\n  return str\n    .replace(/<[^>]*>/g, \"\")\n    .replace(/&[#A-Za-z0-9]+;/g, \"\")\n    .trim();\n}\n\nreturn items.map(item => ({\n  json: {\n    title: item.json.title || \"(no title)\",\n    date: new Date((item.json.time || 0) * 1000).toISOString(),\n    source: \"Hacker News\",\n    url: item.json.url || \"\",\n    content: cleanContent(item.json.text || \"\")\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        96
      ],
      "id": "fbdfa7b8-91db-41dd-b9c8-d5fe2744b91d",
      "name": "Hacker News: Normalize Feed"
    },
    {
      "parameters": {
        "tableId": "feeds",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.output.title }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $json.output.date }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.output.source }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.output.content }}"
            },
            {
              "fieldId": "topic",
              "fieldValue": "={{ $json.output.topic }}"
            },
            {
              "fieldId": "tone",
              "fieldValue": "={{ $json.output.tone }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.output.category }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        112
      ],
      "id": "b2440f2c-221a-4cb9-b17a-aa302116070b",
      "name": "Hacker News: Insert to DB",
      "credentials": {
        "supabaseApi": {
          "id": "k6NMY19byioyMjUc",
          "name": "Supabase - Reset"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following article and append three new fields.\n\nLabel options:\n- topic: [AI, Blockchain, Cybersecurity, Big Tech, Other]\n- tone: [positive, neutral, negative]\n- category: [Product Launch, Funding, Opinion, Market Report, Research, Regulation, Other]\n\nArticle:\nTitle: {{$json[\"title\"]}}\nDate: {{$json[\"date\"]}}\nSource: {{$json[\"source\"]}}\nURL: {{$json[\"url\"]}}\nContent: {{$json[\"content\"]}}\n\nReturn JSON in this exact structure:\n{\n  \"title\": \"{{$json[\"title\"]}}\",\n  \"date\": \"{{$json[\"date\"]}}\",\n  \"source\": \"{{$json[\"source\"]}}\",\n  \"content\": \"{{$json[\"content\"]}}\",\n  \"url\": \"{{$json[\"url\"]}}\",\n  \"topic\": \"<one from list>\",\n  \"tone\": \"<one from list>\",\n  \"category\": \"<one from list>\"\n}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a structured classification assistant. You receive one article at a time with fields like title, date, source, and content.Return the same article plus three new fields: topic, tone, and category.Use only the allowed labels and return valid JSON.Do not summarize, explain, or change existing fields."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        992,
        96
      ],
      "id": "1e4b5e38-2915-4efd-a8b9-2b0787efa90f",
      "name": "Enrich Signal II"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "9384e967-4164-4a04-a418-aef9886e4d2d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        976,
        352
      ],
      "id": "d15cb94b-183b-4164-977f-e16e693ed021",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"OpenAI launches new agent platform\",\n  \"url\": \"https://techcrunch.com/example\",\n  \"date\": \"2025-10-06\",\n  \"source\": \"TechCrunch\",\n  \"content\": \"OpenAI announced AgentKit, a toolkit to help developers build and deploy AI agents.\",\n  \"topic\": \"AI\",\n  \"tone\": \"positive\",\n  \"category\": \"Product Launch\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1120,
        352
      ],
      "id": "a60e63f6-db23-441f-83f2-ec92d72d9f83",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Hacker News: Top Stories API": {
      "main": [
        [
          {
            "node": "Hacker News: Loop Over Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News: Loop Over Stories": {
      "main": [
        [],
        [
          {
            "node": "HackerNews: Fetch Story Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HackerNews: Fetch Story Details": {
      "main": [
        [
          {
            "node": "Hacker News: Normalize Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News: Normalize Feed": {
      "main": [
        [
          {
            "node": "Enrich Signal II",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News: Insert to DB": {
      "main": [
        [
          {
            "node": "Hacker News: Loop Over Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Signal II": {
      "main": [
        [
          {
            "node": "Hacker News: Insert to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Hacker News: Top Stories API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Enrich Signal II",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Enrich Signal II",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4fb1f144-8c15-425d-bf1a-17ec6262f3c6",
  "meta": {
    "instanceId": "0e1664e1c576ef52797abfb36899a10b94b3f051cdf548d41e9d265459c6a618"
  },
  "id": "cv4nlaVnkMEKj4EN",
  "tags": [
    {
      "updatedAt": "2025-12-10T03:42:49.636Z",
      "createdAt": "2025-12-10T03:42:49.636Z",
      "id": "YhZaSz2umH3ClIGu",
      "name": "StatusWatch"
    }
  ]
}