MLOps/OR engine.json
{
  "name": "OR engine",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -32
      ],
      "id": "572a00a3-7eda-4d20-9269-bc78a6437554",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        784,
        176
      ],
      "id": "9ec57d3f-c8d8-4e6c-b976-5002e2fb7184",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "KRyyaKtkymLK3YpM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The following incidents were selected by an optimization engine.\n\nContext:\n\nThe system operates under limited attention and bandwidth.\nSelection favors incidents with the highest potential for risk, leverage, and downstream impact.\nDecisions are comparative within the provided set.\n\nYou MUST return JSON ONLY matching the required schema.\n\nInput (engine output):\n{{ JSON.stringify($json, null, 2) }}\n\nInstructions:\n\nSet or_version to the input’s or_v if present, otherwise \"v1\".\nSet max_items to the input’s max_items if present; otherwise use the length of selected.\n\nBuild:\n\nincident_ids: list of incident_id from selected (in order)\npriorities: map incident_id -> priority (if priority exists)\nfeatures: map incident_id -> features object (if features exists)\n\nWrite explanation_text:\n\n2–3 sentence overall summary (executive / deal-maker lens)\nthen bullets, one per incident, format: \"- <incident_id>: <reason>\"\n\nReturn JSON ONLY.",
        "messages": {
          "messageValues": [
            {
              "message": "You are explaining the output of a deterministic optimization engine.\n\nRules:\n\nDo not invent facts or external context.\nDo not mention math, scores, weights, or formulas.\nDo not re-rank or change the chosen items.\nAlways preserve incident_id exactly as provided.\nOutput MUST be valid JSON ONLY (no markdown, no extra text).\n\nReturn JSON with this exact schema:\n\n{\n  \"or_version\": \"v1\",\n  \"max_items\": <integer>,\n  \"incident_ids\": [\"<incident_id>\", \"...\"],\n  \"priorities\": { \"<incident_id>\": <number>, ... },\n  \"features\": {\n    \"<incident_id>\": {\n      \"topic_weight\": <number>,\n      \"engine_weight\": <number>,\n      \"source_count\": <number>,\n      \"story_size\": <number>\n    },\n    ...\n  },\n  \"explanation_text\": \"<short executive narrative + per-incident bullets>\"\n}\n\nNotes:\n\nincident_ids must be in the same order as the input list.\nIf a field is missing in input, omit it from that incident’s features object (do not guess)."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        688,
        -32
      ],
      "id": "babed6da-e988-41b9-9ede-27b4e2ea104b",
      "name": "Executive-type Summary"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "status_watch_incidents",
        "limit": 100,
        "filterType": "string",
        "filterString": "=created_at=gte.{{ $now.minus({ hours: 336 }).toISO() }}&source_count=not.is.null&order=created_at.desc"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        48,
        -32
      ],
      "id": "43a3b405-3696-446d-8afa-5bdf821ece08",
      "name": "Query incidents where scores are not null",
      "credentials": {
        "supabaseApi": {
          "id": "k6NMY19byioyMjUc",
          "name": "Supabase - Reset"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const orItems = items.map(i => {\n  return {\n    incident_id: i.json.incident_id,\n    topic_weight: i.json.topic_weight,\n    engine_weight: i.json.engine_weight,\n    source_count: i.json.source_count,\n    story_size: i.json.story_size\n  };\n});\n\n// Return ONE item to send to the OR API\nreturn [\n  {\n    json: {\n      max_items: 5,\n      items: orItems\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -32
      ],
      "id": "b7058133-d1a1-42e9-b383-82cd4e117d38",
      "name": "Prep for OR API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://or-api-production.up.railway.app/select",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "or-dev-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        -32
      ],
      "id": "ad354147-bebe-4704-9ab5-eefbafca3ea6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "tableId": "status_watch_or_memory",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "incident_ids",
              "fieldValue": "={{ $json.incident_ids }}"
            },
            {
              "fieldId": "or_version",
              "fieldValue": "={{ $json.or_version }}"
            },
            {
              "fieldId": "max_items",
              "fieldValue": "={{ $json.max_items }}"
            },
            {
              "fieldId": "incident_ids",
              "fieldValue": "={{ $json.incident_ids }}"
            },
            {
              "fieldId": "priorities",
              "fieldValue": "={{ $json.priorities }}"
            },
            {
              "fieldId": "features",
              "fieldValue": "={{ $json.features }}"
            },
            {
              "fieldId": "explanation_text",
              "fieldValue": "={{ $json.explanation_text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1392,
        -32
      ],
      "id": "4d231786-7f72-4f98-9792-5244b10453ff",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "k6NMY19byioyMjUc",
          "name": "Supabase - Reset"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text;\nconst parsed = JSON.parse(raw);\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -32
      ],
      "id": "00ed931e-e038-4e76-86f6-c07be5da37a8",
      "name": "Prep for DB-insert"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Query incidents where scores are not null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Executive-type Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Query incidents where scores are not null": {
      "main": [
        [
          {
            "node": "Prep for OR API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep for OR API": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Executive-type Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executive-type Summary": {
      "main": [
        [
          {
            "node": "Prep for DB-insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep for DB-insert": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a11e0f92-e9c9-46b2-a4e9-cb1e3f9d583c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e1664e1c576ef52797abfb36899a10b94b3f051cdf548d41e9d265459c6a618"
  },
  "id": "leYZWfKj903T5zbM",
  "tags": [
    {
      "updatedAt": "2025-12-10T03:42:49.636Z",
      "createdAt": "2025-12-10T03:42:49.636Z",
      "id": "YhZaSz2umH3ClIGu",
      "name": "StatusWatch"
    }
  ]
}