SaintsGPT/Scraper_Firecrawl.json
{
  "name": "Scraper_Firecrawl",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fc-ba08650a21e54793ab2e8e7fd6723872"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "https://www.newadvent.org/summa/2002.htm"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        304
      ],
      "id": "20cf508b-3276-4ac5-9889-b21fe718be55",
      "name": "Call Firecrawl",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "Default",
        "operation": "Scrape A Url And Get Its Content",
        "url": "={{ $json.url }}",
        "formats": [
          "markdown"
        ],
        "requestOptions": {}
      },
      "type": "n8n-nodes-firecrawl.fireCrawl",
      "typeVersion": 1,
      "position": [
        832,
        112
      ],
      "id": "63757e82-42e9-49fb-9cad-aac2b6d48542",
      "name": "FireCrawl",
      "credentials": {
        "fireCrawlApi": {
          "id": "kEVBU6maOxRfSKdj",
          "name": "FireCrawl account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function simpleHash(str) {\n  let hash = 0;\n  if (!str || str.length === 0) return hash.toString();\n  for (let i = 0; i < str.length; i++) {\n    const chr = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + chr;\n    hash |= 0; // Convert to 32bit integer\n  }\n  return hash.toString();\n}\n\nfunction extractHostname(link) {\n  if (!link) return \"unknown\";\n  const match = link.match(/^https?:\\/\\/([^\\/?#]+)(?:[\\/?#]|$)/i);\n  return match ? match[1].replace(/^www\\./, \"\") : \"unknown\";\n}\n\n// Input\nconst scraped = $json.data;\nconst markdown = scraped.markdown || \"EMPTY_CONTENT\";\nconst title = scraped.metadata?.title || \"Untitled\";\nconst url = scraped.metadata?.sourceURL || scraped.metadata?.url || \"unknown\";\n\n// Normalized values\nconst slug = title.toLowerCase().replace(/[^a-z0-9]+/g, \"-\").replace(/(^-|-$)/g, \"\");\nconst uniqueId = `${slug}-${simpleHash(url)}`;\nconst source = extractHostname(url);\nconst contentHash = simpleHash(markdown);\n\n// Heuristic doc_type and optional voice_style (adjust as needed)\nconst docType = url.includes(\"/saints/\") ? \"saint_bio\" : \"doctrine\";\nconst voiceStyle = docType === \"saint_bio\" ? \"narrative\" : null;\nconst saintPrimary = docType === \"saint_bio\" ? slug : null;\n\nreturn [\n  {\n    json: {\n      doc_id: uniqueId,\n      title,\n      source_type: \"firecrawl\",\n      source_id: uniqueId,\n      clean_text: markdown,\n      url,\n      source,\n      content_hash: contentHash,\n      status: \"pending\",\n      doc_type: docType,\n      voice_style: voiceStyle,\n      saint_primary: saintPrimary,\n      created_at: new Date().toISOString()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        112
      ],
      "id": "0d4f74da-3881-437e-b8e9-15e446158aa8",
      "name": "Clean-up"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ukpvaebwabvvipebebnj.supabase.co/rest/v1/raw_doctrine_docs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_type",
              "value": "={{ $('Clean-up').item.json.source_type }}"
            },
            {
              "name": "source_id",
              "value": "={{ $('Clean-up').item.json.source_id }}"
            },
            {
              "name": "title",
              "value": "={{ $('Clean-up').item.json.title }}"
            },
            {
              "name": "url",
              "value": "=web: {{ $('Loop Over URLs').item.json.url }}"
            },
            {
              "name": "clean_text",
              "value": "={{ $('Unwrap output').item.json.purified_content }}"
            },
            {
              "name": "status",
              "value": "={{ $('Clean-up').item.json.status }}"
            },
            {
              "name": "content_hash",
              "value": "={{ $('Clean-up').item.json.content_hash }}"
            },
            {
              "name": "source",
              "value": "web"
            },
            {
              "name": "voice_style",
              "value": "={{ $('Unwrap output').item.json.voice_style }}"
            },
            {
              "name": "doc_type",
              "value": "={{ $('Clean-up').item.json.doc_type }}"
            },
            {
              "name": "saint_primary",
              "value": "={{ $('Unwrap output').item.json.associated_saint }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        688
      ],
      "id": "086384b7-c3e9-4817-bf2b-f45d58faad82",
      "name": "Insert to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "yeyfgM2GRQTJScoM",
          "name": "Supabase account - SGPT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "09432d0f-91ba-471f-a614-8bb5d7772e4e",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2128,
        592
      ],
      "id": "df3ea4e7-2ccd-4f7b-86c4-e80175e2ee00",
      "name": "If"
    },
    {
      "parameters": {
        "formTitle": "Firecrawl URL scraper",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Data",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -16,
        64
      ],
      "id": "ab644efa-b342-4f79-a68e-e976debccfa7",
      "name": "On form submission",
      "webhookId": "d27b6649-c42e-47a7-a8aa-201a40c8cb18"
    },
    {
      "parameters": {
        "binaryPropertyName": "Data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        64
      ],
      "id": "d1c496b5-a015-4749-8310-0f8bf010e682",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const keys = Object.keys(item.json);\n  const urlKey = keys.find(k => k.trim().toLowerCase() === \"url\");\n  const url = item.json[urlKey] || \"\";\n  \n  return {\n    json: {\n      url: url.trim()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        64
      ],
      "id": "9c135746-e40d-41a1-9fbf-70b834a5aadf",
      "name": "Clean"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        64
      ],
      "id": "9ff2c11b-9753-4f87-8149-b1d85e482b23",
      "name": "Loop Over URLs"
    },
    {
      "parameters": {
        "url": "=https://ukpvaebwabvvipebebnj.supabase.co/rest/v1/raw_doctrine_docs?source_id=eq.{{ $('Clean-up').item.json.source_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        112
      ],
      "id": "70d01b0d-3f01-49ae-a8c2-95cfd8e51044",
      "name": "Query Supabase raw_doctrine_docs",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "yeyfgM2GRQTJScoM",
          "name": "Supabase account - SGPT"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1184,
        304
      ],
      "id": "87dcd06f-977f-4fdd-8fe3-3c78c40c0e41",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "KRyyaKtkymLK3YpM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=title:\n{{ $json.title }}\n\nclean_text: \n{{ $json.clean_text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a strict formatter and data preserver. Given input content, your task is to remove noise and clean up formatting—**but you must not summarize, shorten, paraphrase, or omit any structured content** (rubrics, examples, headings, markdown, etc.).\n\nReturn only a raw JSON object in the following format, with no explanation, markdown, or code blocks:\n\n{\n  \"purified_content\": \"<cleaned full content>\",\n  \"associated_saint\": \"<clearly identified saint name, or 'doctrine'>\",\n  \"saint_canonical_id\": \"<canonical_id in snake_case, or 'doctrine'>\",\n  \"voice_style\": \"<one of: doctrinal, pastoral, mystical, contemplative, devotional, affectionate, childlike, zealous>\"\n}\n\nDo not assume or default to any saint.  \nIf no saint is clearly mentioned, return:\n- \"associated_saint\": \"doctrine\"\n- \"saint_canonical_id\": \"doctrine\"\n\nIf a specific saint is referenced clearly in the content — including by name, title, or unique identifiers (such as feast descriptions or doctrinal declarations) — match it accurately and assign the appropriate canonical_id. For Mary, this includes any unambiguous reference to her identity as the Mother of God.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1248,
        112
      ],
      "id": "81aeb250-d051-4a64-86ef-12a5c7ddea92",
      "name": "Purify Content"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1184,
        544
      ],
      "id": "440c2890-1453-4411-8a9d-ca137e43d9f8",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "KRyyaKtkymLK3YpM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "saint_retriever",
        "toolDescription": "Determine Saint from Supabase vector store",
        "tableName": {
          "__rl": true,
          "value": "saint_vectors",
          "mode": "list",
          "cachedResultName": "saint_vectors"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        1328,
        368
      ],
      "id": "f4d150e8-01ff-4407-98b0-49c8df60d5c0",
      "name": "Saint Retriever",
      "credentials": {
        "supabaseApi": {
          "id": "yeyfgM2GRQTJScoM",
          "name": "Supabase account - SGPT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $json[\"output\"];\n\nreturn {\n  purified_content: result.purified_content,\n  associated_saint: result.associated_saint,\n  saint_canonical_id: result.saint_canonical_id,\n  voice_style: result.voice_style\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        112
      ],
      "id": "a197683c-a686-40aa-a8d0-99f356bc090b",
      "name": "Unwrap output"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"purified_content\": \"string\",\n  \"associated_saint\": \"string\",\n  \"saint_canonical_id\": \"string\",\n  \"voice_style\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1632,
        320
      ],
      "id": "4d60838e-3235-41c0-9d80-af75b210ecf4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "TODO: Consider moving this before purifying content",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1792,
        0
      ],
      "typeVersion": 1,
      "id": "ace9f1c0-a9a6-48d3-a92c-5235ca4a2794",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Call Firecrawl": {
      "main": [
        []
      ]
    },
    "Clean-up": {
      "main": [
        [
          {
            "node": "Purify Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FireCrawl": {
      "main": [
        [
          {
            "node": "Clean-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Clean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean": {
      "main": [
        [
          {
            "node": "Loop Over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Supabase": {
      "main": [
        [
          {
            "node": "Loop Over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over URLs": {
      "main": [
        [],
        [
          {
            "node": "FireCrawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Supabase raw_doctrine_docs": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Purify Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Saint Retriever",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Purify Content": {
      "main": [
        [
          {
            "node": "Unwrap output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saint Retriever": {
      "ai_tool": [
        [
          {
            "node": "Purify Content",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Unwrap output": {
      "main": [
        [
          {
            "node": "Query Supabase raw_doctrine_docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Purify Content",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f4db865a-b8ef-4af4-ada9-a77d313e17fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e1664e1c576ef52797abfb36899a10b94b3f051cdf548d41e9d265459c6a618"
  },
  "id": "9FSKLpPjh9xCoQ1M",
  "tags": [
    {
      "updatedAt": "2025-05-26T23:48:34.783Z",
      "createdAt": "2025-05-26T23:48:34.783Z",
      "id": "i5SZsJiDTjwrkWjX",
      "name": "Saints GPT"
    }
  ]
}